@import "data.css";

.header
{
    /* border-bottom: thin solid #323032; */
    border-bottom: thin solid var(--border-color);
    background-color: var(--bg-color-header);

    width: 100%;
    height: 4rem;
    
	padding: 0px;

    position: fixed;
    top: 0;

    display: flex;
}

.logo
{
    max-width:  30.35px;
    max-height: 100%;

    padding: 0px 16px;
    margin: 12px 0px;

    border-right: thin solid var(--logo-border-color);
}

.logo > img
{
	filter: var(--logo-filter);

    width: auto;
    height: 100%;
}

.nav
{
    width: 100%;
    
    display: flex;
	justify-content: left;
}

.nav-item
{
    color: var(--text-color-inactive);
    text-decoration: none;
    font-weight: bold;
	text-shadow: var(--text-shadow);

    display: grid;

    justify-content: center;
    align-content: center;

    /*
    min-width: 6rem;
    width: max-content;
    */

    padding: 12px 24px;

    transition: color 0.2s ease-in-out;
}

.nav-item > img
{
    width: 30.35px;
    height: auto;
}

#login.nav-item
{
    margin-left: auto;
}

#curr-page.nav-item
{    
    color: var(--text-color-active);
}

.nav-item:hover
{
    /* background-image: 
        linear-gradient(#08070a, #111016); */
    color: var(--text-color-active);
}

