@import "common.css";
@import "header.css";
@import "footer.css";

.content
{
    min-width: 100vw;
    min-height: 100vh;

    height: min-content;

    /* background-color: #0d0c0d; */
    background-color: var(--bg-color-content);

    display: flex;
    flex-direction: column;
}

.main
{
    /* background-color: #212121; */
    
    /*background-image:
        linear-gradient(#eeeeee, #f0f0f0);*/
	background-color: var(--bg-color-main);

    margin: 0 20%;
    padding: 0 5%;

	padding-top: 5rem;

	text-shadow: var(--text-shadow);
}

@media screen and (max-width: 900px)
{
    .main
    {
        margin: 0 10%;
    }
}

@media screen and (max-width: 600px)
{
    .main
    {
        margin: 0;
    }
}

.main > h1
{
    font-size: xx-large;

    /* border-bottom: thin solid #323032; */
    border-bottom: thin solid var(--border-color);
    margin-bottom: 8px;

    color: var(--text-color-heading);
}

.main > h2
{
    font-size: large;

    /* border-bottom: thin solid #323032; */
    margin-bottom: 8px;

    color: var(--text-color-heading);
}

.main > p
{
    font-size: medium;

    word-break: break-word;
    line-height: 1.2;
    margin-top: 0px;
}

.banner
{
    width: 100%;
    height: auto;

    margin-bottom: 1rem;
}

.main > iframe
{
    margin: auto 2.5rem;
    margin-bottom: 2.5rem;
}
